/*increase - decrease */
form {
    margin: 0 auto;
    text-align: center;
}
.btn {
    outline: 0;
    border: 0;
    cursor: pointer;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
table {
    border-spacing: 0;
}
.value-button {
    display: inline-block;
    margin: 0;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 0 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: 0;
    margin-top: -6px;
}

form #increase {
    margin-left: 0;
    margin-top: -5px;
}

input#number {
    text-align: center;
    border: none;
    margin: 0;
    width: 16px;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*end*/

/*right side-bar popups css*/
.cart-sidebar-order-summery {
    padding: 40px 0;
    background: #fff;
    width: 362px;
    box-shadow: 0 0 28px 2px rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
}
.cart-sidebar-order-summery .header {
    font-size: 18px;
    color: #fff;
    font-family: 'Gotham';
    padding: 10px 30px;
    background-color: #006599;
    text-transform: uppercase;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.cart-sidebar-order-summery .body {
    padding-top: 30px;
    height: calc(90vh - 92px);
    overflow: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.cart-sidebar-order-summery table,
.popup-accordion  table{
     width: 100%;
 }
.cart-sidebar-order-summery table thead tr th:first-child {
    padding-left: 0;
    text-align: left;
}
.cart-sidebar-order-summery table thead tr th:last-child {
    padding-right: 0;
}
.cart-sidebar-order-summery table thead tr th {
    margin: 0;
    font-family: 'GothamBook';
    font-size: 11px;
    color: #919191;
    padding: 15px 0 10px 0;
    text-transform: uppercase;
}
.cart-sidebar-order-summery table tbody tr td {
    padding: 3px 0 10px 0;
    font-family: 'Chronicle Text G1';
    font-size: 18px;
}
.cart-sidebar-order-summery table tbody tr td p {
    margin: 0;
    color: #8c8c8c;
    font-family: 'Chronicle Text G1';
    font-size: 15px;
    line-height: 16px;
}
.cart-sidebar-order-summery td.text-left.total-amount {
    font-size: 20px;
    color: #000;
    border-top: 1px solid #dbdbdb;
}
.cart-sidebar-order-summery td.text-right.total-amount {
    font-size: 20px;
    color: #000;
    border-top: 1px solid #dbdbdb;
}
.cart-sidebar-order-summery .table-borderless img {
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 3px 0;
    cursor: pointer;
    opacity: .5;
    transition: all .3s;
}
.cart-sidebar-order-summery table tbody tr td:hover img {
    opacity: 1;
    transition: all .3s;
}
.cart-sidebar-order-summery table.table.table-borderless p {
    max-width: 140px;
}

.cart-sidebar-order-summery .footer {
    padding-left: 30px;
    padding-right: 30px;
}
.cart-sidebar-order-summery .btn-brand {
    background-color: #006699;
    padding: 10px 50px;
    color: #fff;
    font-size: 13px;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    line-height: 18px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}
.cart-sidebar-order-summery .btn-continue {
    background-color: #e0e5e9;
    padding: 10px 50px;
    color: #006699;
    font-size: 13px;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    line-height: 18px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}

.cart-sidebar-order-summery .btn-continue:hover ,
.cart-sidebar-order-summery .btn-brand:hover {
    color: #fff;
    background-color: #108cca;
}

.cart-sidebar-order-summery button.btn-brand,
.cart-sidebar-order-summery .btn-continue{
    display: block;
    width: 100%;
}
.cart-sidebar-order-summery .footer button + button {
    margin-top: 15px;
}
/*increase - decrease */
.cart-sidebar-order-summery form {
    margin: 0 auto;
    text-align: center;
}

.cart-sidebar-order-summery .value-button {
    display: inline-block;
    margin: 0;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 0 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cart-sidebar-order-summery .value-button:hover {
    cursor: pointer;
}
.cart-sidebar-order-summery form #decrease {
    margin-right: 0;
    margin-top: -6px;
}
.cart-sidebar-order-summery form #increase {
    margin-left: 0;
    margin-top: -5px;
}
.cart-sidebar-order-summery input#number {
    text-align: center;
    border: none;
    margin: 0;
    width: 16px;
    outline: none;
}
.cart-sidebar-order-summery input[type=number]::-webkit-inner-spin-button,
.cart-sidebar-order-summery input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*Right side-bar end*/
.popup-accordion .popup-body .card-item.open .popup-card-body {
    display: block;
}
.popup-accordion .popup-body .card-item .popup-card-body {
    display: none;
}

.popup-accordion .btn-brand {
    background-color: #006699;
    padding: 10px 50px;
    color: #fff;
    font-size: 13px;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    line-height: 18px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 220px;
    transition: all .3s;
}
.popup-accordion .btn-continue {
    background-color: #e0e5e9;
    padding: 10px 28px;
    color: #006699;
    font-size: 13px;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    line-height: 18px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
    min-width: 220px;
}
.popup-accordion .btn-continue:hover ,
.popup-accordion .btn-brand:hover {
    color: #fff;
    background-color: #108cca;
}
.popup-accordion .popup-footer button + button {
    margin-left: 15px;
}
.popup-accordion {
    padding: 55px 32px;
    background: #fff;
    width: 738px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 28px 2px rgba(0, 0, 0, .1);
}
.popup-accordion .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.popup-accordion .popup-footer.text-center {
    margin-top: 45px;
}
.popup-accordion .popup-body .card-item a.card-link {
    font-size: 20px;
    color: #222222;
    font-family: 'Chronicle Text G1';
    text-transform: capitalize;
    display: block;
    position: relative;
    text-decoration: none;
}
.popup-accordion .card-item.open .popup-card-body {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #dcdcdc;
}
.popup-accordion .popup-body .card-item.open a.card-link {
    color: #006599;
}
.popup-accordion .popup-body .card-item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;
}
.popup-accordion .popup-body .card-item a.card-link span {
    float: right;
    margin-right: 26px;
    color: #222;
    font-size: 15px;
    margin-top: 0;
}
.popup-accordion .card-item a.card-link:after{
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../img/accordion-arrow.png") no-repeat center;
    height: 11px;
    width: 10px;
}
.popup-accordion .card-item.open a.card-link:after{
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../img/accordion-arrow-open.png") no-repeat center;
    height: 11px;
    width: 10px;
}
/*increase - decrease */
.popup-accordion form {
    margin: 0 auto;
    text-align: center;
}

.popup-accordion .value-button {
    display: inline-block;
    margin: 0;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 0 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup-accordion .value-button:hover {
    cursor: pointer;
}
.popup-accordion form #decrease {
    margin-right: 0;
    margin-top: -6px;
}
.popup-accordion form #increase {
    margin-left: 0;
    margin-top: -5px;
}
.popup-accordion input#number {
    text-align: center;
    border: none;
    margin: 0;
    width: 5%;
    outline: none;
}
.popup-accordion input[type=number]::-webkit-inner-spin-button,
.popup-accordion input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.popup-accordion table thead tr th:first-child {
    padding-left: 0;
    text-align: left;
}
.popup-accordion table thead tr th:last-child {
    padding-right: 0;
}
.popup-accordion table thead tr th {
    margin: 0;
    font-family: 'GothamBook';
    font-size: 11px;
    color: #919191;
    padding: 15px 0 10px 0;
    text-transform: uppercase;
}
.popup-accordion table tbody tr td {
    padding: 3px 0 10px 0;
    font-family: 'Chronicle Text G1';
    font-size: 14px;
}

.popup-accordion .popup-body  table tbody tr td  a {
    font-family: 'Gotham';
    font-size: 14px;
    color: #006699;
    text-decoration: none;
}
.popup-accordion .popup-body table tbody tr td.added  a {
    color: #0fac27;
}
.popup-accordion table tbody tr td p {
    margin: 0;
    color: #8c8c8c;
    font-family: 'Chronicle Text G1';
    font-size: 15px;
    line-height: 16px;
    max-width: 200px;
}
.popup-accordion td.text-left.total-amount {
    font-size: 20px;
    color: #000;
    border-top: 1px solid #dbdbdb;
}
.popup-accordion td.text-right.total-amount {
    font-size: 20px;
    color: #000;
    border-top: 1px solid #dbdbdb;
}
.popup-accordion .table-borderless img {
    width: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 3px 0;
    cursor: pointer;
    opacity: .5;
    transition: all .3s;
}
.popup-accordion table tbody tr td:hover img {
    opacity: 1;
    transition: all .3s;
}
.popup-accordion table.table.table-borderless p {
    max-width: 140px;
}
/*end*/